[CONFIG]
API_URL = 
LOG_FILE = log.txt
LOG_LEVEL = debug|info

[FOOD]
WEIGHT_PORT = 
WEIGHT_IP = 
WEIGHT_COM =
RFID_IP = 
RFID_PORT = 
RFID_COM =

[WATER]
RFID_IP = 
RFID_PORT = 
RFID_COM =
WATER_IP = 
WATER_PORT = 
WATER_COM = 